*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html{
    font-size: 15px;
}

:root{
    --ornage-color: #FB5B21;
    --white-color: #F4F5F8;
    --gray-color: #BDBDBF;
    --black-color: #222429;
}

#myNavbar{
    padding: 0% 1%;
}
#myNavbar .navbar-brand{
    color: var(--ornage-color);
    font-size: 50px;
    font-weight: 700;
    /* margin-right: 40px; */
}
#myNavbar ul:not(.dropdown-menu){
    margin-left: 130px;
}
#myNavbar ul a{
    padding: 0px 20px;
    color: var(--white-color);
    text-transform: uppercase;
}
#myNavbar .btn{
    background-color: var(--ornage-color);
    padding: 15px 30px;
    color: var(--white-color);
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 3px;
}

#contact{
    background-image: linear-gradient(rgba(50,50,50,0.6),rgba(50,50,50,0.6)), url('../gym/img/carousel-1.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 8rem;
}

.txt{
    color: var(--white-color);
    text-transform: uppercase;
}
.txt h1{
    font-size: 5rem;
}

#contact .btn{
    padding: 0.7rem 3rem;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 600;
}
#contact .btn1{
    background-color: var(--ornage-color);
}
#contact .btn2{
    background-color: var(--white-color);
    color: var(--black-color);
}

#touch{
    padding: 100px 0px;
}
#touch .text{
    text-transform: uppercase;
}
#touch h5{
    color: var(--ornage-color);
}
#touch h1{
    font-size: 4rem;
    margin-bottom: 4rem;
}

#touch .row{
    margin: 0;
}
#touch .details{
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 3rem 0rem;
}
#touch .details i{
    font-size: 1.6rem;
    background-color: var(--ornage-color);
    padding: 1.2rem 1.4rem;
    border-radius: 100%;
    margin-bottom: 1rem;
}
#touch .details h5{
    text-transform: uppercase;
}
#touch .details p{
    color: var(--gray-color);
}

#touch .form{
    margin-top: 100px;
    /* width: 100%; */
}
#touch form{
    background-color: var(--black-color);
    padding: 2.5rem;
}
.form-label input, textarea{
    width: 100%;
    padding: 1rem;
}
.form-label span{
    color: red;
}
.form-label input[type="submit"]{
    background-color: var(--ornage-color);
    color: var(--white-color);
    border: none;
}
#touch .maps{
    margin-top: 100px;
}
#touch iframe{
    width: 100%;
}

/*------------------ footer starts now -------------------- */
footer{
    background-color: var(--black-color);
    color: var(--white-color);
    /* padding: 4rem 0rem; */
}
footer .links{
    padding: 3rem;
}
footer h3{
    margin-bottom: 2rem;
    text-transform: uppercase;
}
footer i{
    color: var(--ornage-color);
    width: 20px;
}
footer p{
    color: var(--gray-color);
}
footer .mail{
    text-align: center;
    background-color: var(--ornage-color);
    color: var(--white-color);
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer form{
    width: 100%;
    display: flex;
}
footer input{
    flex: 1;
    width: 59%;
    padding: 1rem;
    border: none;
}
footer form input:nth-child(1){
    padding-right: 4.5rem;
}
footer form input:nth-child(2){
    /* width: 20%; */
    text-transform: uppercase;
    background-color: var(--black-color);
    color: var(--white-color);
}







@media only screen and (max-width: 1100px){
    #myNavbar ul:not(.dropdown-menu){
        margin-left: 20px;
    }
    #myNavbar .btn{
        display: none;
    }
}

@media only screen and (max-width: 992px){
    html{
        font-size: 10px;
    }

    #myNavbar .nav-link{
        padding: 15px 0px;
    }
    #myNavbar .dropdown-item{
        padding: 10px;
    }

    #contact{
       height: 50vh;
        padding: 0rem;
        position: relative;
    }
    .txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    #touch .details{
        margin: 10px 50px;
    }

}

@media only screen and (max-width: 768px){
    #touch .form{
        margin-top: 50px;
        /* width: 100%; */
    }
    #touch .maps{
        margin-top: 50px;
    }
}